	<div class="col-md-7 item-list">
		<h2>Latest Items</h2>
		{% if 'email' in session %}
			<!-- Button trigger modal goes here because we use the modal for both create and edit items -->
			<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#newItemModal">
	  		Create Item
			</button>

			{% include 'newitem-modal.html' %}
		{% endif %}
		<ul>
			{% for item, category in items %}
				<li><a href = "{{url_for('showItemDescription', item_id=item.id)}}">
					<div class="itemlist">
						<img src="{{item.imgURL}}" alt="{{item.name}}">
						<h4>{{item.name}}</h4></a>
						<div class="parent-category">added in {{category.name}}</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>