
<!-- this template is shared by NEWITEM and EDITITEM -->
<div>   
	<!-- Modal -->
	<div class="modal fade" id="newItemModal" tabindex="-1" role="dialog" aria-labelledby="newItemModalLabel">
	  <div class="modal-dialog text-left" role="document">
	    <div class="modal-content">
	      <form action="#" method = "post">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        {% if item %}
	        	<h4 class="modal-title" id="myModalLabel">Edit {{item.name}}</h4>
	        {% else %}
	        	<h4 class="modal-title" id="myModalLabel">Create Item</h4>
	        {% endif %}
	      </div>
	      <div class="modal-body">

				<div class="form-group">
					<label for="category_id">Category:</label>
						<select name="category_id">
							{% for category in categories %}
								<option value="{{category.id}}">{{category.name}}</option>
							{% endfor %}
						</select>
					<br>

					<label for="name">Name:</label>
					{% if item %}
	        			<input type ="text" maxlength="50" class="form-control" name="name" placeholder="{{item.name}}">
	        		{% else %}
	        			<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of the item">
	        		{% endif %}

					<br>

					<label for="description">Description:</label>
					{% if item %}
	        			<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="{{item.description}}"></textarea>
	        		{% else %}
	        			<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the item"></textarea>
	        		{% endif %}
					<br>

					<label for="imgURL">Image URL:</label>
					{% if item and item.imgURL %}
	        			<input type ="text" maxlength="80" class="form-control" name="imgURL" placeholder="{{item.imgURL}}">
	        		{% else %}
	        			<input type ="text" maxlength="80" class="form-control" name="imgURL" placeholder="http://www.imageURL.com/stuffandthings">
	        		{% endif %}					
					<br>

					{% if item %}
						<input type="hidden" name="formtype" value="edititem">
					{% else %}
						<input type="hidden" name="formtype" value="newitem">
					{% endif %}

				</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        {% if item %}
		        <button type="submit" class="btn btn-primary" id="submit" type="submit">Change</button>
		    {% else %}
		    	<button type="submit" class="btn btn-primary" id="submit" type="submit">Create</button>
		    {% endif %}
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
</div>  
