{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    	{% if messages %}     
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <hr>
</div>

<!-- Layout = 1, 3, 7, 1 -->

<div class="row main-screen">
	<div class="col-md-1"></div>
    <div class="col-md-2">
        <img src="{{item.imgURL}}" alt="{{item.name}}">
    </div>
    <div class="col-md-8 item-description">
        <h2>{{item.name}}</h2>
        {{item.description}}
    </div>
	<div class="col-md-1"></div>
</div>

<div class="row main-screen">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <hr>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row main-screen">
    <div class="col-md-1"></div>
    <div class="col-md-2 creator">
        {% if 'email' in session %}
            {{creator.email}}
        {% endif %}
    </div>
    <div class="col-md-8 text-right">
        {% if 'email' in session %}
            <button type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        {% else %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock %}
