<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="https://apis.google.com/js/platform.js?onload=start"> </script>
	</head>
<body>
<div class="container">

<!-- Comes from Header -->
<div class="row title-login-bar">
	<div class="col-md-1">
		<a href="{{url_for('home')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
		</a>
	</div>
	<div class="col-md-7">
		<h1>Catalog App</h1>
	</div>

	<div class="login">
		{% if 'email' not in session %}
			<!-- Google + Signin Button -->
			<div class="col-md-2 signInButton">
			    <span class="g-signin"
			      data-scope="openid email"
			      data-clientid="249368362118-11qv2a73c1ratq4s7sbqq60nb9eq2lsq.apps.googleusercontent.com"
			      data-redirecturi="postmessage"
			      data-accesstype="offline"
			      data-cookiepolicy="single_host_origin"
			      data-callback="signInCallback"
			      data-approvalprompt="force">
			    </span>
  			</div>

  			<!-- Facebook Signin Button -->
  			<div class="col-md-2 facebookSigninButton">
  				  <button>
				    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
				      <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
				    </fb:login-button>
				  </button>
  			</div>

  			<div id="googlePlusCode">
	  			<script>  // Google+ script
					function signInCallback(authResult) {
					  if (authResult['code']) {
					    // Hide the sign-in button now that the user is authorized
					    $('#signinButton').attr('style', 'display: none');
					    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
					    $.ajax({
					      type: 'POST',
					      url: '/gconnect?state={{STATE}}',
					      processData: false,
					      data: authResult['code'],
					      contentType: 'application/octet-stream; charset=utf-8',
					      success: function(result) {
					        // Handle or verify the server response if necessary.
					        if (result) {
					          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
					          setTimeout(function() {
					            window.location.href = "/restaurant";
					          }, 4000);
					          
					        } else if (authResult['error']) {
					          console.log('There was an error: ' + authResult['error']);
					        } else {
					          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
					           }
					      }
					      //error:function(exception){alert('Exception:' + exception)}
					      
					    });
					  } 
					}
				</script>
			</div>

			<div id="facebook-login">
			  <script>
			    window.fbAsyncInit = function() {
			      FB.init({
			        appId      : '1642982949316776',
			        xfbml      : true,
			        version    : 'v2.5'
			      });
			    };

			    (function(d, s, id){
			       var js, fjs = d.getElementsByTagName(s)[0];
			       if (d.getElementById(id)) {return;}
			       js = d.createElement(s); js.id = id;
			       js.src = "//connect.facebook.net/en_US/sdk.js";
			       fjs.parentNode.insertBefore(js, fjs);
			     }(document, 'script', 'facebook-jssdk'));


			// Here we run a very simple test of the Graph API after login is
			// successful.  See statusChangeCallback() for when this call is made.
			    function sendTokenToServer() {
			      var access_token = FB.getAuthResponse()['accessToken'];
			      console.log(access_token)
			      console.log('Welcome!  Fetching your information.... ');
			      FB.api('/me', function(response) {
			        console.log('Successful login for: ' + response.name);
			       $.ajax({
			          type: 'POST',
			          url: '/fbconnect?state={{STATE}}',
			          processData: false,
			          data: access_token,
			          contentType: 'application/octet-stream; charset=utf-8',
			          success: function(result) {
			            // Handle or verify the server response if necessary.
			            if (result) {
			              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
			              setTimeout(function() {window.location.href = "/restaurant";}, 2000);
			            } else {
			            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
			            }
			          } // end of success
			        }); // end of .ajax call
			      });   // end of FB.api
			    }       // end of function sendTokenToServer()
			  </script>
			 </div>

		{% else %}
			<div class="col-md-4">
				{{session['email']}}
			</div>
			<a href="{{url_for('disconnect')}}">Logout</a>
		{% endif %}
	</div>
</div>
<!-- End Header -->


<!-- From Categories.html -->
<div class="row main-screen">
	<div class="col-md-1"></div>
	<div class="col-md-3 category-list">
		<ul>
			<li>Category 1</li>
			<li>Category 2</li>
			<li>Category 3</li>
		</ul>
		{% for category in categories %}
			<a href = "{{url_for('showItem', category_id=category.id)}}">
			<h3>{{category.name}}</h3>
			</a>
		{% endfor %}
	</div>

	<div class="col-md-7">
		<ul>
			<li>item 1</li>
			<li>item 2</li>
			<li>item 3</li>
		</ul>
	</div>
	<div class="col-md-1"></div>
</div>
<!-- End Categories -->

</div>
</body>
</html>